<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2010 Denis Solonenko.
  All rights reserved. This program and the accompanying materials
  are made available under the terms of the GNU Public License v2.0
  which accompanies this distribution, and is available at
  http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
  
  Contributors:
      Denis Solonenko - initial API and implementation
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="tw.tib.financisto"
	android:versionName="2024-02-10" android:versionCode="148"
    android:installLocation="internalOnly">

    <supports-screens
	    android:smallScreens="true"
	    android:normalScreens="true"
	    android:largeScreens="true"
	    android:resizeable="true"
	    android:anyDensity="true"/>

    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature
        android:name="android.hardware.fingerprint"
        android:required="false" />

	<!--uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/-->
    <!--uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/-->
    <!--uses-permission android:name="android.permission.CAMERA" /-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />    
	<permission android:name="tw.tib.financisto.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="tw.tib.financisto.permission.C2D_MESSAGE"/>


    <application
		android:name="androidx.multidex.MultiDexApplication"
		android:theme="@style/AppTheme"
		android:icon="@mipmap/app_icon" android:label="@string/app_name"
		android:hardwareAccelerated="true"
		android:allowBackup="true"
		android:fullBackupContent="true"
		android:description="@string/app_description"
		android:enableOnBackInvokedCallback="true"
		tools:targetApi="tiramisu">
		
		<uses-library android:name="com.google.android.maps" android:required="false" />
		<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
		
		<receiver android:name=".activity.AccountWidget" android:label="@string/widget_2x1" android:exported="true">
		    <intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
		<action android:name="tw.tib.financisto.UPDATE_WIDGET" />
		    </intent-filter>
		    <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_2x1" />
		</receiver>

		<receiver android:name=".activity.AccountWidget3x1" android:label="@string/widget_3x1" android:exported="true">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			<action android:name="tw.tib.financisto.UPDATE_WIDGET" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_3x1" />
		</receiver>

		<receiver android:name=".activity.AccountWidget4x1" android:label="@string/widget_4x1" android:exported="true">
			<intent-filter>
			<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			<action android:name="tw.tib.financisto.UPDATE_WIDGET" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_4x1" />
		</receiver>

		<receiver android:name=".activity.PackageReplaceReceiver" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			    <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
			</intent-filter>
		</receiver>		

		<service android:name=".service.FinancistoService" android:exported="true"
			android:permission="android.permission.BIND_JOB_SERVICE">
	    <intent-filter>
			<action android:name=".SCHEDULE_ONE" />
			<action android:name=".SCHEDULE_ALL" />
			<action android:name=".NEW_TRANSACTION_SMS" />
	    </intent-filter>
		</service>

		<service android:name=".service.NotificationListener"
			android:exported="false"
			android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
			<intent-filter>
				<action android:name="android.service.notification.NotificationListenerService" />
			</intent-filter>
			<meta-data
				android:name="android.service.notification.default_filter_types"
				android:value="conversations|alerting|silent">
			</meta-data>
			<meta-data
				android:name="android.service.notification.disabled_filter_types"
				android:value="ongoing">
			</meta-data>
		</service>

		<activity android:name=".activity.MainActivity" android:label="@string/app_name" android:exported="true"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:taskAffinity=".MainActivity"
			android:theme="@style/AppThemeCompat">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:icon="@drawable/icon_transaction" android:exported="true"
			android:name=".activity.TransactionActivity" android:label="@string/transaction"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
			android:taskAffinity=".TransactionActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="tw.tib.financisto.NEW_TRANSACTION" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<activity android:icon="@drawable/icon_transfer" android:exported="true"
			android:name=".activity.TransferActivity" android:label="@string/transfer"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize" 
			android:taskAffinity=".TransferActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<action android:name="tw.tib.financisto.NEW_TRANSFER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<activity android:name=".activity.SplitTransactionActivity" android:label="@string/split_transaction"
			android:icon="@drawable/icon_transaction"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
			android:taskAffinity=".TransactionActivity" />

		<activity android:name=".activity.SplitTransferActivity" android:label="@string/split_transfer"
			android:icon="@drawable/icon_transfer"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:windowSoftInputMode="stateAlwaysHidden|adjustResize"
			android:taskAffinity=".TransferActivity" />

		<activity android:name=".activity.PinActivity" android:label="@string/enter_pin"
			android:launchMode="singleTop"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.BlotterActivity" android:label="@string/blotter"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.PlannerActivity" android:label="@string/planner"/>

		<activity android:name=".activity.MassOpActivity" android:label="@string/mass_operations"
			android:theme="@style/AppThemeCompat" />
		
		<activity android:name=".activity.BudgetBlotterActivity" android:label="@string/budget"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.SplitsBlotterActivity" android:label="@string/report"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.RecurActivity" android:label="@string/recur"
			android:icon="@drawable/icon_transfer"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.RecurrenceActivity" android:label="@string/recur"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
			
		<activity android:name=".activity.NotificationOptionsActivity" android:label="@string/notification"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
		
		<activity android:name=".activity.CurrencyListActivity" android:label="@string/currencies"/>

		<activity android:name=".activity.ExchangeRatesListActivity" android:label="@string/exchange_rates" android:theme="@style/LightSpinner" />

		<activity android:name=".activity.ExchangeRateActivity" android:label="@string/exchange_rate"
			  android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.CategoryListActivity2" android:label="@string/categories"/>

		<activity android:name=".activity.AttributeListActivity" android:label="@string/attributes"/>
		
		<activity android:name=".activity.AccountActivity" android:label="@string/account"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
		
		<activity android:name=".activity.ReportActivity" android:label="@string/report"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.CurrencyActivity" android:label="@string/currency"
		  android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
		
		<activity android:name=".activity.AttributeActivity" android:label="@string/attribute"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
		
		<activity android:name=".activity.DateFilterActivity" android:label="@string/filter"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.NoteFilterActivity" android:label="@string/filter"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.BlotterFilterActivity" android:label="@string/filter"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.ReportFilterActivity" android:label="@string/filter"
			  android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.CategoryActivity" android:label="@string/category"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden" />

		<activity android:name=".activity.SmsTemplateActivity" android:label="@string/sms_tpl"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden" />

		<activity android:name=".activity.SmsDragListActivity" android:label="@string/sms_templates"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.NotificationListActivity" android:label="@string/notification_list"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"
			android:theme="@style/AppThemeCompat" />

		<!--
		<activity android:name=".widget.QuickAmountInput"
			android:label="@string/amount" android:theme="@style/AppDialog"/>
		
		<activity android:name=".widget.CalculatorInput"
			android:label="@string/calculator" android:theme="@style/CalculatorDialog"/> -->
		
		<activity android:name=".activity.BudgetActivity" android:label="@string/budgets"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>		
		
		<activity android:name=".activity.PreferencesActivity" android:label="@string/preferences"
			android:taskAffinity=".MainActivity"
			android:launchMode="singleTask" />
		
		<activity android:name=".activity.ProjectActivity" android:label="@string/project"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>
		
		<activity android:name=".activity.ProjectListActivity" android:label="@string/projects"/>
		
		<activity android:name=".activity.PayeeActivity" android:label="@string/payee"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.PayeeListActivity" android:label="@string/payees"/>

		<activity android:name=".activity.LocationActivity" android:label="@string/location"
			android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.LocationsListActivity" android:label="@string/locations"/>
		
		<activity android:name=".activity.TemplatesListActivity" android:label="@string/transaction_templates"
			android:theme="@style/AppThemeCompat" />
		
		<activity android:name=".activity.ScheduledListActivity" android:label="@string/scheduled_transactions"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".activity.SelectTemplateActivity" android:label="@string/transaction_templates"
			android:theme="@style/AppDialogCompat" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.CsvExportActivity" android:label="@string/csv_export" />
		<activity android:name=".activity.CsvImportActivity" android:label="@string/csv_import" />

		<activity android:name=".activity.QifExportActivity" android:label="@string/qif_export"/>
		<activity android:name=".activity.QifImportActivity" android:label="@string/qif_import"/>

		<activity android:name=".activity.MonthlyViewActivity" android:label="@string/monthly_view"/>
		<activity android:name=".activity.CCardStatementClosingDayActivity" android:label="@string/closing_day" />
		
		<activity android:name=".activity.Report2DChartActivity" android:label="@string/report"/>
		<activity android:name=".activity.ReportPreferencesActivity" android:label="@string/report_preferences"/>
		<activity android:name=".activity.AboutActivity" android:label="@string/about"
			android:theme="@style/AppThemeCompat" />

		<activity android:name=".dialog.FolderBrowser" android:label="@string/select_folder"/>
		<activity android:name=".activity.CategorySelectorActivity" android:label="@string/select_category" />

		<activity android:name=".activity.AccountListTotalsDetailsActivity" android:label="@string/totals"
			  android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.BlotterTotalsDetailsActivity" android:label="@string/totals"
			  android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.BudgetListTotalsDetailsActivity" android:label="@string/totals"
			  android:theme="@style/AppDialog" android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboardHidden"/>

		<activity android:name=".activity.PurgeAccountActivity" android:label="@string/delete_old_transactions"/>

		<activity android:name="org.achartengine.GraphicalActivity"/>

		<activity
			android:name=".activity.RequestPermissionActivity_"
			android:label="@string/permissions"
			android:theme="@style/Theme.AppCompat" />

		<activity android:exported="true"
			android:name="com.dropbox.core.android.AuthActivity"
			android:excludeFromRecents="true"
			android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout|keyboard"
			android:taskAffinity=".MainActivity"
			android:launchMode="singleTask">
			<intent-filter>

				<!-- Change this to be db- followed by your app key -->
				<data android:scheme="db-aenijec51r68hsv" />

				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.BROWSABLE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="tw.tib.financisto"
			android:grantUriPermissions="true">
			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/file_paths" />
		</provider>

	</application>

	<queries>
		<!-- for Dropbox app auth -->
		<package android:name="com.dropbox.android" />
	</queries>

</manifest> 
